{
    "mcpServers": {
      "agentic-search": {
        "url": "https://[YOUR_DOMAIN]:8090/",
        "headers": {
          "Authorization": "Bearer [YOUR PAT OR API KEY HERE]"
        }
      }
    }
  }
